{{> top}}
<title>About - Nationwide Autoglaze Manchester</title>
{{> header}}
<section class="contentSection jumbotron">
	<div class="container jumbotron_inner">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="jumbotron_header">
					<h1 class="">About us</h1>
					<p class="lead jumbotron_text">Let us replace it for free* before it becomes a problem!</p>
				</div>
			</div>
			<button type="button" class="col-xs-12 col-md-4 btn quoteButton quoteButton-large jumbotron_button">Get Started <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</section>
{{> footer}}